<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>SessionManagement.SessionManager</listener-class>
    </listener>
    <servlet>
        <servlet-name>ValidateRegistration</servlet-name>
        <servlet-class>LoginLogoutRegister.ValidateRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateAccount</servlet-name>
        <servlet-class>LoginLogoutRegister.ActivateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsernameAvailability</servlet-name>
        <servlet-class>LoginLogoutRegister.CheckUsernameAvailability</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateLogin</servlet-name>
        <servlet-class>LoginLogoutRegister.ValidateLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>LoginLogoutRegister.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateNewPassword</servlet-name>
        <servlet-class>LoginLogoutRegister.ValidateNewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>LoginLogoutRegister.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfile</servlet-name>
        <servlet-class>MyProfile.MyProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookRide</servlet-name>
        <servlet-class>Rides.BookRide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>Profile.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferFund</servlet-name>
        <servlet-class>Wallet.TransferFund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateTransfer</servlet-name>
        <servlet-class>Wallet.ValidateTransfer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateRegistration</servlet-name>
        <url-pattern>/ValidateRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateAccount</servlet-name>
        <url-pattern>/ActivateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsernameAvailability</servlet-name>
        <url-pattern>/CheckUsernameAvailability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateLogin</servlet-name>
        <url-pattern>/ValidateLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateNewPassword</servlet-name>
        <url-pattern>/ValidateNewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfile</servlet-name>
        <url-pattern>/MyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookRide</servlet-name>
        <url-pattern>/BookRide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferFund</servlet-name>
        <url-pattern>/TransferFund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateTransfer</servlet-name>
        <url-pattern>/ValidateTransfer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
